
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #f2f2f2; 
    color: #444;
    padding: 10px 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
}

.header h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #333;
    background-color: #e0e0e0;
    border-radius: 5px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:green; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 60px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #2193b0;
}

.gender,
.hobbies {
    display: flex;
    align-items: center;
    gap: 10px;
}


input[type="range"] {
    width: calc(100% - 50px);
}

#income-value {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}


.create-btn {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #218838;
}

.submit-section {
    margin-top: 20px; 
}

.row {
    display: flex;
    gap: 10px;
}

.row .form-group {
    flex: 1;
}


html,
body {
    overflow: hidden;
}
